@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Tom
@{
}

<form asp-action="@nameof(TomController.Update)">

    @Html.EditorForModel()

    <button type="button">Cancel</button>
    <button type="submit">Save</button>
</form>