@*
    Toms
*@
@model List<DataModel.Tom>
@{
}

<h1>Toms</h1>

<p>
    <a asp-action="@nameof(TomController.Create)">Create</a>
</p>

<ul>
    @foreach (var item in Model)
    {
        <li><a asp-controller="Tom" asp-action="Detail" asp-route-id="@item.Name">@item.Name</a></li>
    }
</ul>