################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Project1/bin
/Project1/obj
/ProjectTests/obj/Debug/netcoreapp1.0
/ProjectTests/bin/Debug/netcoreapp1.0
/DataModel/bin/Debug
/DataModel/obj/Debug
/Project1/node_modules
/Project1/wwwroot/lib
/SmearerMiddleware/bin/Debug
/SmearerMiddleware/obj/Debug
/MvcApp/bin
/MvcApp/obj/Debug
/packages
/MvcApp.Tests/bin/Debug
/MvcApp.Tests/obj/Debug
/MvcApp/bower_components/angular
/DrumsClient/bin/Debug
/DrumsClient/obj/Debug
