################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Project1/bin
/Project1/obj
/ProjectTests/obj/Debug/netcoreapp1.0
/ProjectTests/bin/Debug/netcoreapp1.0
