
@{
    ViewBag.Title = "Index";
}
@model MvcApp.Models.DrumsetsViewModel
<h2>Angular Demo with Data</h2>

<p>Sets</p>
<ul>
    @foreach (var item in Model.Drumsets)
    {
    <li>@item.Name</li>
    }
</ul>