<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="authority" value="https://login.microsoftonline.com"/>
    <add key="directory" value="coursedirectory.onmicrosoft.com"/>
    <add key="resource" value="https://coursedirectory.onmicrosoft.com/DrumProductService"/>
    <add key="clientId" value="92846562-a311-436b-900e-fded71a827ad"/>
    <add key="redirectUri" value="http://DrumGalore"/>
  </appSettings>
</configuration>